@inject NavigationManager NavigationManager
@inject ProfileService ProfileService

@page "/storage"
@using PokeApiNet

<PageTitle>Pokémon Storage</PageTitle>

<MudPaper Height="calc(100vh - 110px)" Class="pa-1" Style="position: relative; overflow:hidden; background: var(--mud-palette-background)" Elevation="0" Square="true">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@openAddPokemonDrawer" Anchor="Anchor.End" Elevation="0" Variant="@DrawerVariant.Persistent" Color="Color.Transparent">
            <div class="d-flex flex-column justify-start gap-1 align-content-center mud-height-full">
                <MudText Typo="Typo.h6" Align="Align.Center">Storage Controls</MudText>
                <MudButton OnClick="OnClickAddRandomPokemon" Variant="Variant.Filled" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Add" Class="mb-2">Add Random Pokémon</MudButton>
                <PokemonCard @ref="_pokemonCard" OnUpdated="Update" />
            </div>
        </MudDrawer>
        <div class="d-flex justify-center gap-0 align-content-start mud-height-full">
            <StorageBox @ref="_storageBox"/>
            <MudPaper Square="true" Class="d-flex justify-center align-center mud-height-full cursor-pointer mx-0" @onclick="ToggleOpenAddPokemonDrawer">
                <MudIcon Icon="@(openAddPokemonDrawer ? @Icons.Material.Filled.KeyboardArrowRight : @Icons.Material.Filled.KeyboardArrowLeft)" />
            </MudPaper>
        </div>
    </MudDrawerContainer>
</MudPaper>

@code {
    StorageBox? _storageBox;
    PokemonCard? _pokemonCard;

    bool openAddPokemonDrawer = true;

    public void ToggleOpenAddPokemonDrawer()
    {
        openAddPokemonDrawer = !openAddPokemonDrawer;
    }

    private async void Update()
    {
        StateHasChanged();
        _storageBox?.Refresh();
        await ProfileService.UpdatePokemonStorageAsync();
    }

    public async void OnClickAddRandomPokemon()
    {
        NamedApiResource<Pokemon>? pokemonResource = null;
        SmartPokemonEntry? entry = Globals.NationalDex!.RandomPokemon();
        if (entry != null)
        {
            Random rand = new Random();
            List<NamedApiResource<Pokemon>> varieties = entry.GetAllVarieties();
            pokemonResource = varieties[rand.Next(varieties.Count)];
        }

        if (pokemonResource != null)
        {
            SmartPokemon? pokemon = await PokeApiHandler.GetPokemonAsync(pokemonResource.Name);
            if (pokemon != null)
            {
                Globals.PokemonStorage.Add(pokemon);
                Update();
            }
        }
    }

    public void OnClickAddPokemon()
    {
        if (_pokemonCard is not null)
        {
            SmartPokemon? pokemon = _pokemonCard.Pokemon;
            if (pokemon is not null)
            {
                Globals.PokemonStorage.Add(pokemon);
                Update();
            }
        }
    }
}
