@using PokeApiNet
@using Type = PokeApiNet.Type

<MudPaper Elevation="4" Class="d-flex flex-column align-center justify-center mud-width-full pa-2">
    <MudAutocomplete T="SmartPokemonEntry" Label="Pokémon" @bind-Value="PokemonSearchValue" SearchFunc="@SearchPokedex"
                     ResetValueOnEmptyText="true"
                     CoerceText="true" CoerceValue="false" />
    @if (PokemonSearchValue is not null)
    {
        <div style="height: 50px">
            @if (PokemonSearchValue.Species.Varieties.Count > 1)
            {
                <MudSelect Dense="true" T="string" Label="Form" AnchorOrigin="Origin.TopCenter" @bind-Value="PokemonFormName">
                    @foreach (PokemonSpeciesVariety v in PokemonSearchValue.Species.Varieties)
                    {
                        <MudSelectItem Value="@v.Pokemon.Name" />
                    }
                </MudSelect>
            }
        </div>
        @if (pokemon is not null && generation is not null)
        {
            <img class="artwork" src="@pokemon.Sprites.Other.OfficialArtwork.FrontDefault" alt="@pokemon.Name" title="@pokemon.Name"/>
            <div class="types">
                @foreach (PokemonType t in pokemon.Types)
                {
                    <img src="@StringUtils.TypeImgFromName(t.Type.Name)" alt="@t.Type.Name" title="@t.Type.Name"/>
                }
            </div>
            <div class="generation">
                <span>@generation.Names.Where( name => name.Language.Name == Globals.Language).FirstOrDefault()?.Name</span>
            </div>
            <MudSelect Disabled="@(pokemon.Abilities.Count == 1)" Dense="true" T="string" Label="Ability" AnchorOrigin="Origin.TopCenter" @bind-Value="PokemonAbilityName">
                @foreach (PokemonAbility a in pokemon.Abilities)
                {
                    <MudSelectItem Value="@a.Ability.Name" />
                }
            </MudSelect>
        }
        else
        {
            <MudProgressCircular Color="Color.Default" Indeterminate="true" Class="mt-8 mb-8" />
        }

    }
</MudPaper>

@code {
    // the main cards on the team builder page are mapped to an index in the team
    // in order to be able to update the team when the cards are updated
    [Parameter]
    public int PokemonTeamIndex { get; set; } = -1;

    [Parameter] // used for telling the parent of the card that it has updated
    public EventCallback OnUpdated { get; set; }

    // the string which holds the last valid search result from the search bar
    private SmartPokemonEntry? pokemonSearchValue;
    public SmartPokemonEntry? PokemonSearchValue { 
        get { return pokemonSearchValue; }
        set 
        {
            pokemon = null;
            generation = null;
            pokemonFormName = null;
            pokemonSearchValue = value;
            SelectPokemon(value);
        }
    }

    // the string used in the form selector
    private string? pokemonFormName;
    public string? PokemonFormName
    {

        get { return pokemonFormName; }
        set
        {
            pokemon = null;
            pokemonFormName = value;
            SelectForm(value);
        }
    }

    private string? pokemonAbilityName;
    public string? PokemonAbilityName
    {

        get { return pokemonAbilityName; }
        set
        {
            pokemonAbilityName = value;
            OnChangeAbility(value);
        }
    }

    // holds the information about the currently selected pokemon to be displayed on the card
    private SmartPokemon? pokemon;
    private Generation? generation;

    // when component is initialised
    protected override async Task OnInitializedAsync()
    {
        // use the team index to get this pokemon if possible
        if (PokemonTeamIndex >= 0 && PokemonTeamIndex < 6)
        {
            pokemon = Globals.PokemonTeam[PokemonTeamIndex];
        }

        if (pokemon is not null)
            PokemonSearchValue = Globals.Pokedex.FindPokemon(pokemon.Species.Name);
        if (PokemonSearchValue is not null)
            generation = await PokeApiHandler.GetGenerationAsync(PokemonSearchValue.Species);

        await Update();
    }

    private async Task Update()
    {
        // update the global pokemon team if this card has a team index
        if (PokemonTeamIndex >= 0 && PokemonTeamIndex < 6)
            Globals.PokemonTeam[PokemonTeamIndex] = pokemon;

        StateHasChanged();

        await OnUpdated.InvokeAsync();
    }

    // pokemon search functionality

    private async Task<IEnumerable<SmartPokemonEntry>> SearchPokedex(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return Globals.Pokedex;

        // search the pokedex in a background thread
        return await Task.Run(() => Globals.Pokedex.SearchPokedex(value.ToLower()));
    }

    public async void SelectPokemon(SmartPokemonEntry? entry)
    {
        if (entry is null)
        {
            pokemon = null;
            generation = null;
        }
        else
        {
            // simultaneously get the default pokemon and generation from this species
            var getPokemonTask = PokeApiHandler.GetPokemonAsync(entry.Species.Varieties[0].Pokemon.Name);
            var getGenerationTask = PokeApiHandler.GetGenerationAsync(entry.Species);
            await Task.WhenAll(getPokemonTask, getGenerationTask);
            pokemon = getPokemonTask.Result;
            generation = getGenerationTask.Result;
            if (pokemon is not null)
            {
                pokemonFormName = pokemon.Name;
                pokemonAbilityName = pokemon.Abilities[0].Ability.Name;
            }
        }

        await Update();
    }

    public async void SelectForm(string? formName)
    {
        // don't bother if the form name is the same as the current pokemon
        if (formName is null || (pokemon != null && formName == pokemon.Name))
            return;

        pokemon = null;
        StateHasChanged();
        pokemon = await PokeApiHandler.GetPokemonAsync(formName);
        if (pokemon is not null)
            pokemonAbilityName = pokemon.Abilities[0].Ability.Name;
        await Update();
    }


    // pokemon ability functionality
    public void OnChangeAbility(string? value)
    {
        // SetChosenAbility uses a string to find an ability with a matching name
        if (value is not null && pokemon is not null)
            pokemon.SetChosenAbility(value);
    }
}
