@using PokeApiNet
@using Type = PokeApiNet.Type

<div class="card">
    <div class="autocomplete">
        <form >            
            <input @bind=PokemonSpeciesName placeholder="Pokemon" @oninput="@HandleInput" class="form-control filter" />
            @if (entryResults is not null)
            {
                <ul class="options">
                    @if (entryResults.Any())
                    {
                        @if (entryResults[0].Species.Name == filter)
                        {
                            SelectPokemon(entryResults[0]);
                        }
                        else
                        {
                            @foreach (var entry in entryResults)
                            {
                                <li class="option" @onclick=@(_ => SelectPokemon(entry))>
                                    <span class="option-text">@entry</span>
                                </li>
                            }
                        }
                    }
                    else
                    {
                        <li class="disabled option">No results</li>
                    }
                </ul>
            }            
        </form>
    </div>
    @if (pokemon == null || species == null || generation == null)
    {
        <span></span>
    }
    else
    {
        <img class="artwork" src="@pokemon.Sprites.Other.OfficialArtwork.FrontDefault" alt="@pokemon.Name" title="@pokemon.Name"/>
        <div class="types">
            @foreach (PokemonType t in pokemon.Types)
            {
                <img src="@StringUtils.TypeImgFromName(t.Type.Name)" alt="@t.Type.Name" title="@t.Type.Name" />
            }
        </div>
        <div class="generation">
            <span>@generation.Names.Where( name => name.Language.Name == Globals.Language).FirstOrDefault()?.Name</span>
        </div>
        <div class="forms">
            @if (species.Varieties.Count > 1)
            {            
                <select class="input-form" title="Form" @onchange="OnChangeForm">
                    @foreach (PokemonSpeciesVariety v in species.Varieties)
                    {
                        <option class="option" value="@v.Pokemon.Name">@v.Pokemon.Name</option>
                    }
                </select>            
            }
        </div>
        <div class="forms">
            @if (pokemon.Abilities.Count > 1)
            {
                <select class="input-form" title="Ability" @onchange="OnChangeAbility">
                    @foreach (PokemonAbility a in pokemon.Abilities)
                    {
                        <option class="option" value="@a.Ability.Name">@a.Ability.Name</option>
                    }
                </select>
            }
            else if (pokemon.Abilities.Count == 1)
            {
                <select class="input-form" title="Ability" disabled>
                    <option class="option" value="@pokemon.Abilities[0].Ability.Name">@pokemon.Abilities[0].Ability.Name</option>
                </select>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public int PokemonTeamIndex { get; set; } = -1;
    [Parameter] // used for telling the parent of the card that it has updated
    public EventCallback OnUpdated { get; set; }

    public string? PokemonSpeciesName { get; set; } = "";
    public string? PokemonFormName { get; set; } = "";

    private SmartPokemon? pokemon;
    private PokemonSpecies? species;
    private Generation? generation;

    protected override async Task OnInitializedAsync()
    {
        // use the team index to get this pokemon if possible
        if (PokemonTeamIndex >= 0 && PokemonTeamIndex < 6)
        {
            pokemon = Globals.PokemonTeam[PokemonTeamIndex];
        }

        await Update();
    }

    private async Task Update()
    {
        if (pokemon == null)
        {
            if (PokemonSpeciesName is null)
                return;

            species = await PokeApiHandler.GetPokemonSpeciesAsync(PokemonSpeciesName);
            if (species is not null)
            {
                // simultaneously get the default pokemon and generation from this species
                var getPokemonTask = PokeApiHandler.GetPokemonAsync(species.Varieties[0].Pokemon.Name);
                var getGenerationTask = PokeApiHandler.GetGenerationAsync(species);
                await Task.WhenAll(getPokemonTask, getGenerationTask);
                pokemon = getPokemonTask.Result;
                generation = getGenerationTask.Result;
            }

            // update the global pokemon team if this card has a team index
            if (PokemonTeamIndex >= 0 && PokemonTeamIndex < 6)
                Globals.PokemonTeam[PokemonTeamIndex] = pokemon;
        }
        else
        {
            
        }

        StateHasChanged();

        await OnUpdated.InvokeAsync();
    }

    public async void SetForm()
    {
        if (PokemonFormName is null || 
            (pokemon != null && PokemonFormName == pokemon.Name))
            return;

        pokemon = await PokeApiHandler.GetPokemonAsync(PokemonFormName);
        await Update();
    }

    // pokemon search functionality
    List<SmartPokemonEntry>? entryResults;
    string? filter;
    bool error = false;

    public async void HandleInput(ChangeEventArgs e)
    {
        error = false;
        filter = e.Value?.ToString();
        if (filter?.Length > 1)
        {
            filter = filter.ToLower();
            entryResults = Globals.Pokedex.SearchPokedex(filter);
        }
        else
        {
            entryResults = null;
            pokemon = null;
            species = null;
            generation = null;
            await Update();
        }
    }

    public async void SelectPokemon(SmartPokemonEntry entry)
    {
        PokemonSpeciesName = entry.Species.Name;
        entryResults = null;
        pokemon = null;
        species = null;
        generation = null;

        await Update();
    }

    // pokemon form functionality
    public void OnChangeForm(ChangeEventArgs e)
    {
        PokemonFormName = e.Value?.ToString();
        SetForm();
    }

    // pokemon ability functionality
    public void OnChangeAbility(ChangeEventArgs e)
    {
        if (e.Value is not null && pokemon is not null)
            pokemon.SetChosenAbility(e.Value.ToString()!);
    }
}
